@font-face{
    font-family: avenir;
    src: url(fonts/Avenir-Medium.ttf);
}

    *{
        margin :0px;
        padding:0px;
        box-sizing: border-box;
     }
     
     /* Reset page font size, 1rem = 16px */
     html body{
         font-size: 16px;
         /* font-family:'AvenirLTStd-Roman',"Helvetica Neue",sans-serif; */
         /* background-color: var(--grey-100); */
     }
     html {
        position:relative;
        min-height: 100%;
    }

     .CF-support{
        background-image: url(../img/demo-app-bg-waveline.png);
        background-repeat: no-repeat;
        margin: 0!important;
        background-size: contain;
        /* min-height: calc(100vh - 104px); */
        background-position: bottom;
        display: flex;
        flex-direction: column;
        /* min-height: 100vh; */
     }
     .container-flex{
        flex: 1 1 0;
     }
     
     /* Layout */
     
     section {
         max-width: 1000px;
         margin: 0 auto 0;
         display: flex;
         display: -ms-flexbox;
         padding: 0rem 1rem;
     }
     
     
     /* Custom styles */
     
     footer{
         width: 100%;
         background-color: white;
         color: #424143;        
         position: relative;
    bottom: 0;
    flex: none;
    margin-top: -2rem;
     }
     
     footer a{
         color: #7A7A7B;
     }
     
     .footer-section{
        justify-content: space-between;
        -ms-flex-pack: justify;
        padding: 2rem 1rem;
        padding-top: 3rem;
     }
     
     .footer-logo{
         /* display: flex;
         display: -ms-flexbox; */
         align-items: center;
         margin-left: 1rem;
     }
     
     
     /* Mobile Responsive */
     
     @media screen and (max-width: 991px) {
        .footer-section{
            flex-direction: column;
            flex-flow: column;
            text-align: center;
            display: flex;      
        }
        .footer-logo {
            display: flex;
            display: -ms-flexbox;
            align-items: center;       
            text-align: center;
            display: block;
            /* margin: 2rem auto; */
            margin: 0 auto;
            padding-bottom: 1rem;
        }
    
      }
     @media screen and (max-width : 768px) {
     
     
     body{
         background-size: 200%;
         background-position-x: right;
         }
     
         footer section{
           display: block;
         }
     
         .footer-logo{
           /* padding-top: 2rem; */
           justify-content: center;
           -ms-flex-pack: justify;
         }
         
         }
         @media (min-width: 1200px){
            .footer-section{
            max-width:1170px
            }
            }
            
            @media (min-width: 992px){
            .footer-section{
                max-width: 970px;
              }
            }
            
            @@media (min-width: 768px) {
            .footer-section{
                max-width: 750px;
              }
            }
         /* ---------------Footer END-------------------- */
div,button,input,input:focus{
	outline : none;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}

.dashLogo {
    width: auto;
    float: left;
    margin-bottom: 10px;
}
  .reset{
    cursor: pointer;
    color: #6b6b6b;
  }
  .btm-responce{
      position: relative;
      bottom: 4rem;
      padding: 0rem 2rem;
      font-size: 13.5px;
    }
textarea {
    width: 100%!important;
    border: none;
    border-radius: 4px;
    height: 250px;
}
textarea:focus{
    outline: none;
    border: none;
    }
.text-box{
    min-height: 328px;
    padding: 3rem 2rem 4rem 2rem;
    box-shadow: 0px 0px 3px 0px rgb(212, 213, 213);
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
}
.text-box:focus{    
    outline: none !important;
    border: 1px solid #cacacb!important;
    -webkit-box-shadow: 0px 0px 35px -9px rgb(26, 26, 26);
    -moz-box-shadow: 0px 0px 35px -9px rgb(164, 223, 152);
    box-shadow: 0px 2px 6px 2px rgba(135, 135, 135, 0.21);
}
::-webkit-input-placeholder { 
    color: #d7d7d7
}
::-webkit-scrollbar{
    width: 0px!important;
  }
  body {
    color: #424143;
    font-family:'avenir';
    background-color: #f6f6f6;
    letter-spacing: 1px!important;
}
h4.title-sent{
	font-size: 19px;
	color: #424143;
    font-weight: bold;
    display: inline;
}
.tag{
    display: inline-block;
    color: white;
    background-color: #E04C4C;
    border-radius: 99px;
    padding: 0.25rem 0.75rem;
    margin-left: 1rem;
}
.btn-outline {
    margin: .5rem;
    border: 1px solid #424143;
    color: #424143;
    min-width: 160px;
    background-color: #ffffff;
    transition: background-color 450ms ease;
}

.btn-solid{
    margin: .5rem;
    color: #fff;
    min-width: 160px;
    background-color: #424143;
    transition: background-color 450ms ease;
}
.intro-btns {
    flex-direction: column;
    align-items: flex-end;
}
button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 0.75rem;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bg-fade{
    background-color: #808081;
}
.mt-3{
    margin-top: 3rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-4{
    margin-top: 4rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-4{
    padding-bottom:4rem;
}
.p-LR-1{
    padding: 0 1rem;
}
.p-LR-2{
    padding: 0 2rem;
}
.pR-0{
    padding-right: 0;
}
.p0{
    padding:0
}
.p1{
    padding:1rem;
}
.p1-5{
    padding:1.5rem;
}
.p2{
    padding:2rem;
}

.fa-caret-right{
    padding: 0px 4px;
    border: 2px solid;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
}

.fa-pause-circle-o{
    font-size: 18px;
    vertical-align: middle;
}
input{
    text-indent: 1remx;
  }

  .back-to-home a{
      cursor: pointer;
      text-decoration: none;
      color: #424143;
  }
  .whater-mark{
    width: 20%;
    opacity: 0.1;
    position: fixed;
    right: 4rem;
    bottom: 2%;
  }
  @media screen and (max-width: 769px) {
    .intro-btns{ text-align: center;}
    .intro-btns div {
    display: inline-block;
    }
    .whater-mark{
        width: 40%;
    }
.btm-responce {
    font-size: 12px;
  }
  .around-btn{
      padding: 15px;
      margin: 0!important;
  }
  .btn-analyse{
      width: 80px;    
  }
}

.around-btn{
    margin-top: 4.5rem;
}

  .error-msg{
      height: 30px;
  }
  
.loading-container{
    background: #cececea6;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal-content {
    padding: 20px!important;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 5px rgba(0,0,0,.5);
}
.modal-head{
    font-size: 2rem;
}
.border-buttomoNone{
border-bottom: none;
}
.border-topNone{
    border-top: none;
}
.fa-link{
    transform: rotate(90deg);
    font-size: 12px;
    color: gray;
}

/* ------------Drop Down Style---------------- */
.main{
    /* margin:1rem; */
    max-width:350px;
    width:100%;  
    height:250px;
  }
  @media(max-width:34em){
    .main{
      min-width:150px;
      width:auto;
    }
  }
  select {
      display: none !important;
  }
  
  .dropdown-select {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
      background-color: #fff;
      border-radius: 6px;
      border: solid 1px #eee;
      box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      float: left;
      font-size: 14px;
      font-weight: normal;
      height: 42px;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 30px;
      position: relative;
      text-align: left !important;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      width: auto;
  
  }
  
  .dropdown-select:focus {
      background-color: #fff;
  }
  
  .dropdown-select:hover {
      background-color: #fff;
  }
  
  .dropdown-select:active,
  .dropdown-select.open {
      background-color: #fff !important;
      border-color: #bbb;
      box-shadow: 0px 0px 3px 0px rgb(212, 213, 213);
  }
  
  .dropdown-select:after {
      height: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #777;
      -webkit-transform: origin(50% 20%);
      transform: origin(50% 20%);
      transition: all 0.125s ease-in-out;
      content: '';
      display: block;
      margin-top: -2px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
  }
  
  .dropdown-select.open:after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
  
  .dropdown-select.open .list {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
  }
  
  .dropdown-select.open .option {
      cursor: pointer;
  }
  
  .dropdown-select.wide {
      width: 100%;
  }
  
  .dropdown-select.wide .list {
      left: 0 !important;
      right: 0 !important;
  }
  
  .dropdown-select .list {
      box-sizing: border-box;
      transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      box-shadow: 0px 0px 3px 0px rgb(212, 213, 213);
      background-color: #fff;
      border-radius: 0px 0px 5px 5px;
      margin-top: 0px;
      padding: 3px 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      max-height: 250px;
      overflow: auto;
      border: 1px solid #ddd;
  }
  
  .dropdown-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  .dropdown-select .dd-search{
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.5rem;
  }
  
  .dropdown-select .dd-searchbox{
    width:100%;
    padding:0 1rem;
    border: 1px solid #9999993b;
    border-color: #9999993b;
    background: #9999993b;
    border-radius:4px;
    outline:none;
  }
  .dropdown-select .dd-searchbox:focus{
    border-color:#c1c1c1;
  }
  
  .dropdown-select .list ul {
      padding: 0;
  }
  
  .dropdown-select .option {
      cursor: default;
      font-weight: 400;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      transition: all 0.2s;
      list-style: none;
  }
  
  .dropdown-select .option:hover,
  .dropdown-select .option:focus {
      background-color: #f6f6f6 !important;
  }
  
  .dropdown-select .option.selected {
      font-weight: 600;
      color: #999;
  }
  
  .dropdown-select .option.selected:focus {
      background: #f6f6f6;
  }
  
  .dropdown-select a {
      color: #aaa;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  }
  
  .dropdown-select a:hover {
      color: #666;
  }
  ::placeholder{
      color: rgb(175, 175, 175);
  }

  .element-disable
  {
    cursor: not-allowed!important;
    pointer-events: none;
    color: #b1b1b1;
    background-color: #dddddd;
    border-color: #dddddd;
    box-shadow: none;
  }
  
  .element-disable.dropdown-select:after{
    border-top: 4px solid #b1b1b1;;
  }
.textarea-disabled .textarea-disabled.btn-solid{
    opacity: 0.7;
    background-color: #ababab;
}
.input-group {
        position: relative;
        /* margin: 40px 0 20px; */
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        height: 52px;
        border: none;
        border: 1px solid #757575;
        border-radius: 5px;
    }

    input:focus {
        outline: none;
    }

    label {
        color: #424143;
        font-size: 16px;
        font-weight: normal !important;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 13px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    input:focus~label,
    input:valid~label {
        top: -10px;
        font-size: 14px;
        color: #424143;
        background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgba(254,254,254,1) 49%, rgb(246, 246, 246) 49%, rgb(246, 246, 246) 100%);
        background: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgba(254,254,254,1) 49%, rgb(246, 246, 246) 49%, rgb(246, 246, 246) 100%);
        background: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgba(254,254,254,1) 49%, rgb(246, 246, 246) 49%, rgb(246, 246, 246) 100%);
        background: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgba(254,254,254,1) 49%, rgb(246, 246, 246) 49%, rgb(246, 246, 246) 100%);
    }

    .bar {
        position: relative;
        display: block;
        /* width:300px; */
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 1.5px;
        width: 0;
        bottom: 1px;
        position: absolute;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    input:focus~.bar:before,
    input:focus~.bar:after {
        width: 50%;
    }

    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    .sub-head-height {
        height: 45px;
        margin: 0;
    }

    .btn-analyse {
        height: 52px !important;
        margin: 0 !important;
        color: #fff;
        background-color: #424143;
        transition: background-color 450ms ease;
        width: 100%;
    }

    .btn-analyse.span {
        padding: 0 .5rem;
    }

    input:focus~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* animations */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #4285f4;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #4285f4;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #4285f4;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        /* padding: 18px; */
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        margin-bottom: 20px;
        min-height: 65px;
    }

    /*.accordion:hover {
        background-color: #a09d9d70;
        color: #444;
        cursor: pointer;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        /*margin-bottom: 20px;*/
        /*min-height: 65px;
    }
        */
    

    .panel {
        padding: 10px 18px;
        background-color: #f3f2f2ba!important;
        display: none;
        overflow: hidden;    
        margin-bottom: 10px!important;
        /* background-color: #fff; */
        border:none;  
        -webkit-box-shadow:none!important;
        box-shadow:none!important;

    }
    .fa-play-circle{
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 25px;
        font-weight: bold;
        transform-origin: center center;        
    }
    
.up.fa-play-circle{
    transform: rotate(30deg);
    transition-timing-function: ease-in-out;
    color:  #707070;
}

.down.fa-play-circle{
    transform: rotate(90deg);
    color:  #d4d4d4;
}
button.accordion:hover .fa-play-circle{
    color: #707070;
}

    .fa-angle-down,.fa-angle-up{
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: gray;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    z-index: 1;
    text-align: center;
    color: white;
    padding-top: 7px;
    }

  .around-panel button{
    position: relative;
    padding: 0.75rem 5rem 0.75rem 0.75rem;
    margin: 0 0;
    /* line-height: 3rem; */
    background-color: #f3f2f2ba;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.around-panel{
    font-size: 14px;
    box-shadow: 0px 0px 3px 0px rgb(212, 213, 213);
}
.around-panel h5{
    font-size: 14px;
    font-weight: bold;
    
}

.key{
    padding: 0 .75rem;
    border-radius: 10px;
    color: #fff;
}

.panel-box1,.panel-box2,.panel-box3{
    background-color: #ffffff;
    padding: 1.5rem;
    border-left: 3px solid;
}

.panel-box1{    
  border-color: #db2c6c;
}

.panel-box1 h5.sub-titles{
color: #db2c6c;
}

.panel-box1 .key{    
    background-color: #db2c6c;
}
.panel-box1 .poss-text{
    color: #db2c6c;
}

.panel-box2{    
  border-color:#ffb810; 
}

.panel-box2 h5.sub-titles{
color: #ffb810;
}

.panel-box2 .key{    
    background-color: #ffb810;   
}
.panel-box2 .poss-text{
    color: #ffb810; ;
}
.complete{
    color:#aac342;
}
svg{
    vertical-align: middle;
    width: 24px;
    margin-top: -7px;
}
/* .edit-text{
    display:block;
}
.input-text{
    display: none;
} */
.pb-2px{
    padding-bottom: 2px;
}
.analyse-disable{
   cursor: not-allowed;
   pointer-events: none;
   opacity: .5;
}
.poss-text{
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}
.key-text{
    padding-left: 1rem;   
}
.inputKey{
    background-color: #db2c6c;
    padding: 0 .75rem;
    border-radius: 10px;
    color: #fff;
}
.description-para{
    padding: 10px 10px;
}
.border{  
    /*padding: 0px 20px;   */
    padding: 0px 20px 1px 20px;   

    background-color: #f3f2f2ba;
    }
    .list-text{  
        border-top: 1px solid #80808042;
    }

    .content{	
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .flex-fill{
    flex:1 1 auto;
    }
/* ------------------------END----------------------------- */